*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btnLogin {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 15px 30px;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Inter';
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 50px;
}

.btnLogin:hover {
  color: white;
}

.btnLogin::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #614117;
  z-index: -1;
  transition: all 1s;
}

.btnLogin:hover::before {
  width: 160%;
}

.custom-select {
  appearance: none; /* Oculta la flecha nativa */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../assets/arrow.png'); /* Ruta a tu flecha */
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
  padding-right: 2.5rem; /* Espacio para la flecha */
  transition: transform 0.3s ease; /* Transición suave para el giro */
}


.tooltip-wrapper .tooltip-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  white-space: nowrap;
  z-index: 10;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-wrapper .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
